<!-- Section About me -->
<section id="about" class="section-about">
  <div class="container container-about">
    <div class="container-about-text">
      <h2 class="visually-hidden">About me</h2>
      <p class="about-text">
        I work with people all over the world to create impressive and
        <span class="about-text-first">functional</span>
        <span class="about-text-second">websites</span> that reflect each
        client's unique personality.
      </p>
    </div>
    <div class="container-about-img">
      <picture>
        <source
          srcset="
            ./img/about/author-desk.png    1x,
            ./img/about/author@2x-desk.png 2x
          "
          media="(min-width: 1440px)"
        />

        <source
          srcset="
            ./img/about/author-tab.png    1x,
            ./img/about/author@2x-tab.png 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./img/about/author-mob.png    1x,
            ./img/about/author@2x-mob.png 2x
          "
          media="(min-width: 375px)"
        />

        <img
          src="./img/about/author-desk.png"
          alt="Author Lloyd Jefferson"
          class="author-img-photo"
        />
      </picture>
    </div>
  </div>
</section>
