<!-- Section About me -->
<section id="about" class="section-about">
  <div class="container">
    <div class="container-about">
      <div class="container-about-text">
        <h2 class="visually-hidden">About me</h2>
        <p class="about-text">
          I work with people all over the world to create impressive and
          <span class="about-text-first">functional</span>
          <span class="about-text-second">websites</span> that reflect each
          client's unique personality.
        </p>
      </div>
      <div class="container-about-img">
        <picture>
          <source
            srcset="
              ./img/about/author-desk.png    1x,
              ./img/about/author@2x-desk.png 2x
            "
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ./img/about/author-tab.png    1x,
              ./img/about/author@2x-tab.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./img/about/author-mob.png    1x,
              ./img/about/author@2x-mob.png 2x
            "
            media="(min-width: 375px)"
          />

          <img
            src="./img/about/author-desk.png"
            alt="Author Lloyd Jefferson"
            class="author-img-photo"
          />
        </picture>
      </div>
    </div>

    <div class="accordion-container container-about-information">
      <div class="ac accordion-container-card">
        <h2 class="ac-header ac-header-title">
          <button type="button" class="ac-trigger ac-triger-btn-txt">
            About me
          </button>
          <svg class="ac-header-svg" width="36" height="36">
            <use href="/img/sprite/symbol-defs.svg#icon-arrow-up"></use>
          </svg>
        </h2>
        <div class="ac-panel ac-panel-text">
          <p class="ac-text container-about-information-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="ac-text container-about-information-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </div>

      <div class="ac accordion-container-card">
        <h2 class="ac-header ac-header-title">
          <button type="button" class="ac-trigger ac-triger-btn-txt">
            Role
          </button>
          <svg class="ac-header-svg" width="36" height="36">
            <use href="/img/sprite/symbol-defs.svg#icon-arrow-botton"></use>
          </svg>
        </h2>
        <div class="ac-panel ac-panel-text">
          <p class="ac-text container-about-information-text">
            Frontend development
          </p>
          <p class="ac-text container-about-information-text">
            HeadlessCMS,Wordpress
          </p>
          <p class="ac-text container-about-information-text">Blender(enjoy)</p>
        </div>
      </div>

      <div class="ac accordion-container-card">
        <h2 class="ac-header ac-header-title">
          <button type="button" class="ac-trigger ac-triger-btn-txt">
            Education
          </button>
          <svg class="ac-header-svg" width="36" height="36">
            <use href="/img/sprite/symbol-defs.svg#icon-arrow-botton"></use>
          </svg>
        </h2>
        <div class="ac-panel ac-panel-text">
          <p class="ac-text container-about-information-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
          <p class="ac-text container-about-information-text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </p>
          <p class="ac-text container-about-information-text">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
