<!-- Section About me -->
<section id="about" class="section section-about">
  <div class="container container-about">
    <div class="container-about-text">
      <h2 class="visually-hidden">About me</h2>
      <p class="about-text">
        I work with people all over the world to create impressive and
        <span class="about-text-first">functional</span>
        <span class="about-text-second">websites</span>websites that reflect
        each client's unique personality.
      </p>
    </div>
    <div class="container-about-img">
      <picture>
        <source
          srcset="/src/img/author-desk.png 1x, /src/img/author@2x-desk.png 2x"
          media="(min-width: 1440px)"
        />

        <source
          srcset="/src/img/author-tab.png 1x, /src/img/author@2x-tab.png 2x"
          media="(min-width: 768px)"
        />

        <source
          srcset="/src/img/author-mob.png 1x, /src/img/author@2x-mob.png 2x"
          media="(min-width: 375px)"
        />

        <img
          src="/src/img/author-desk.png"
          alt="Author Lloyd Jefferson"
          class="author-img-photo"
          width="680"
          height="700"
        />
      </picture>
    </div>
  </div>
</section>
