
    <section id="footer" class="footer">
        <div class="container work-together section-pb">
            <div class="footer-title">
                
                    <picture class="title-image">
                        <source srcset="
                    https://raw.githubusercontent.com/StasAstenenko/js-gurus/main/src/img/work-together/image_tabl_desk_1x.webp 1x,
                    https://raw.githubusercontent.com/StasAstenenko/js-gurus/main/src/img/work-together/image_tabl_desk_2x.webp 2x
                " media="(min-width: 1440px)" type="image/webp" />
                        <source srcset="
                    https://raw.githubusercontent.com/StasAstenenko/js-gurus/main/src/img/work-together/image_mobile_1x.webp 1x,
                    https://raw.githubusercontent.com/StasAstenenko/js-gurus/main/src/img/work-together/image_mobile_2x.webp 2x
                " media="(max-width: 1139px)" type="image/webp" />
                        <img class="img-work-together" src="../../img/work-together/image_mobile_1x.webp" alt="Man's photo"
                            width="70" height="70" />
                    </picture>
                    
                <h2 class="title-work-together header-2">Let’s <span class="text-decoration-red">work</span></h2>
            </div>
            <h2 class="title-work-together-second">together</h2>
            <form class="submit-form js-submit-form">
                <div class="input-wrapper">
                    <input type="email" name="email" placeholder="clients@gmail.com" aria-label="user-email" required
                        pattern="^\w+(.\w+)?@[a-zA-Z_]+?.[a-zA-Z]{2,3}$" />
                    <input type="text" name="comments" placeholder="comments" aria-label="user-comments" required />
                    <button class="send-btn" type="submit">Send</button>
                </div>                
            
                <div class="contacts">
                    <div class="footer-tel">
                        <a class="tel" href="tel:+3801111111111">+380 (11) 111-11-11</a>
                    </div>

                    <div class="footer-email">
                        <a class="email" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
                    </div>
                </div>
            </form>
        </div>
        
    </section>
