<!-- <div class="header-container container">
  <img
    class="header-img"
    srcset="./img/header-img/image-1x.jpg 1x, ./img/header-img/image-2x.jpg 2x"
    src="./img/header-img/image-1x.jpg "
    width="80"
    height="80"
    alt="guy"
  />

  <a class="header-menu" href="">Menu</a>
  <ul class="header-list is-hidden">
    <li><a href="./about.html">About me</a></li>
    <li><a href="./benefits.html">Benefits</a></li>
    <li><a href="./projects.html">Projects</a></li>
    <li><a href="./faq.html">FAQ</a></li>
  </ul>

  <svg class="icon-burger icon-menu-burger" width="28" height="29">
    <use xlink:href="../img/sprite/symbol-defs.svg#icon-menu-burger"></use>
  </svg>
  <a href="#footer" class="header-btn">Order the project</a>
</div>
-->
<div class="header">
  <a class="header-logo" href="/">
    <img
      class="header-img"
      src="./img/header-img/image-1x.jpg "
      alt="guy"
      width="80"
      height="80"
      srcset="
        ./img/header-img/image-1x.jpg 1x,
        ./img/header-img/image-2x.jpg 2x
      "
    />
  </a>

  <a class="header-menu" href="#">Menu</a>

  <ul class="header-list">
    <li><a href="#About me">About me</a></li>
    <li><a href="#Projects">Projects</a></li>
    <li><a href="#Benefits">Benefits</a></li>
    <li><a href="#FAQ">FAQ</a></li>
  </ul>

  <svg class="icon-burger" id="burger-icon" width="28" height="29">
    <use xlink:href="./img/sprite/symbol-defs.svg#icon-menu-burger"></use>
  </svg>
  <a class="header-btn" href="#footer">Order the project</a>
</div>
