<section class="projects">
    <div class="container box-prj">
            <h2 class="title-projects">projects</h2>
        
        <div class="projects-swiper">
            <ul class="swiper-wrapper swiper-wrapper-projects">
            <li class="main-box-prj swiper-slide">
                <div class="first-box-prj">
                    <ul class="list-prj">
                        <li class="list-prj-item">
                            <a href="#" class="list-prj-link">#react</a>
                        </li>
                        <li class="list-prj-item">
                            <a href="#" class="list-prj-link">#js</a>
                        </li>
                        <li class="list-prj-item">
                            <a href="#" class="list-prj-link">#node js</a>
                        </li>
                        <li class="list-prj-item">
                            <a href="#" class="list-prj-link">#git</a>
                        </li>
                    </ul>
                    <h3 class="main-prj-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                    <button type="button" class="prj-btn">See project</button>

                </div>
                <div class="second-box-prj">
                    <picture>
                        <source srcset="./img/projects-img/first-photo-large@1x-min.png 1x,
                        ./img/projects-img/first-photo-large@2x-min.png 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/projects-img/first-photo-small@1x-min.png 1x,
                        ./img/projects-img/first-photo-small@2x-min.png 2x"
                            media="(min-width: 375px)" />
                        <img src="./img/projects-img/first-photo-large@1x-min.png" alt="mobile project" />
                    </picture>


                </div>

            </li>
            <li class="main-box-prj swiper-slide">
                <div class="first-box-prj">
                    <ul class="list-prj">
                        <li class="list-prj-item">
                            <a href="#" class="list-prj-link">#react</a>
                        </li>
                        <li class="list-prj-item">
                            <a href="#" class="list-prj-link">#js</a>
                        </li>
                        <li class="list-prj-item">
                            <a href="#" class="list-prj-link">#node js</a>
                        </li>
                        <li class="list-prj-item">
                            <a href="#" class="list-prj-link">#git</a>
                        </li>
                    </ul>
                    <h3 class="main-prj-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                    <button type="button" class="prj-btn">See project</button>
            
                </div>
                <div class="second-box-prj">
                    <picture>
                        <source srcset="./img/projects-img/pet-large@1x-min.png 1x,
                        ./img/projects-img/pet-large@2x-min.png 2x" media="(min-width: 768px)" />
                        <source srcset="./img/projects-img/pet-small@1x-min.png 1x,
                                        ./img/projects-img/pet-small@2x-min.png 2x" media="(min-width: 375px)" />
                        <img src="./img/projects-img/pet-large@1x-min.png" alt="lover of pet" />
                    </picture>
                </div>
            
            </li>
            <li class="main-box-prj swiper-slide">
                <div class="first-box-prj">
                    <ul class="list-prj">
                        <li class="list-prj-item">
                            <a href="#" class="list-prj-link">#react</a>
                        </li>
                        <li class="list-prj-item">
                            <a href="#" class="list-prj-link">#js</a>
                        </li>
                        <li class="list-prj-item">
                            <a href="#" class="list-prj-link">#node js</a>
                        </li>
                        <li class="list-prj-item">
                            <a href="#" class="list-prj-link">#git</a>
                        </li>
                    </ul>
                    <h3 class="main-prj-title">Programming Across Borders: Ideas, Technologies, Innovations</h3>
                    <button type="button" class="prj-btn">See project</button>
            
                </div>
                <div class="second-box-prj">
                    <picture>
                        <source srcset="./img/projects-img/form-large@1x-min.png 1x,
                                                            ./img/projects-img/form-large@2x-min.png 2x" media="(min-width: 768px)" />
                        <source srcset="./img/projects-img/form-small@1x-min.png 1x,
                                                            ./img/projects-img/form-small@2x-min.png 2x" media="(min-width: 375px)" />
                        <img src="./img/projects-img/form-large@1x-min.png" alt="a form for registration" />
                    </picture>
            
            
                </div>
            
            </li>
            </ul>
            
        </div>
        <div class="swiper-buttons">
            <button class="btn-for-swiper-prev" type="button">
                <svg width="32px" height="32px" class="prj-svg">
                    <use href="./img/sprite/symbol-defs.svg#icon-arrow-narrow-right"></use>
                </svg>
            </button>
            <button class="btn-for-swiper-next" type="button">
                <svg width="32px" height="32px" class="prj-svg">
                    <use href="./img/sprite/symbol-defs.svg#icon-arrow-narrow-right"></use>
                </svg>
            </button>
        </div>
    </div>

</section>