<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/projects.css" />
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container main-box-prj">
            <div class="first-box-prj">

                <ul class="list-prj">
                    <li class="list-prj-item">
                        <a href="#" class="list-prj-link">#react</a>
                    </li>
                    <li class="list-prj-item">
                        <a href="#" class="list-prj-link">#js</a>
                    </li>
                    <li class="list-prj-item">
                        <a href="#" class="list-prj-link">#node js</a>
                    </li>
                    <li class="list-prj-item">
                        <a href="#" class="list-prj-link">#git</a>
                    </li>
                </ul>
                <h1 class="main-prj-title">Programming Across Borders: Ideas, Technologies, Innovations</h1>
                <button type="button" class="prj-btn">See project</button>
            </div>
            <div class="second-box-prj">
            </div>
            <button class="btn-for-swiper" type="button"></button>
            <button class="btn-for-swiper" type="button"></button>
        </div>
    </section>
</body>
</html>