/* tooltips */
.tooltip {
  position: relative;
  text-decoration: none;
}
.tooltip span {
  display: none;
}
.tooltip:hover span {
  position: absolute;
  display: block;
  overflow: hidden;
  color: white;
}
/* /tooltips */

/* show elements with animation */
section {
  opacity: 0;
  transform: translateY(20px);
}
.in-view {
  opacity: 1;
  transition: translateY 1.5s, opacity 2s;
  transform: translateY(0%);
}
/* /show elements with animation */

.section-covers {
  height: 508px;
}

.section-covers .container {
  position: relative;
  overflow: hidden;
  height: 100%;
  background: radial-gradient(circle at 5% 5%, #ed3b4484, transparent 25%),
    radial-gradient(circle at 80% 80%, #ed3b4484, transparent 25%);
}

.covers-ul {
  position: absolute;
  top: 80px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1200px;
  transform: rotate(16deg);
}

.card-of-project {
  width: 282px;
  padding: 13px;
  cursor: grab;
}
.in-view .card-of-project {
  animation-name: running-linesLine;
  animation-duration: 45s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
@keyframes running-linesLine {
  0% {
    transform: translateX(-70px);
  }
  50% {
    transform: translateX(-730px);
  }
  100% {
    transform: translateX(-70px);
  }
}
@keyframes running-linesLine-back {
  0% {
    transform: translateX(-730px);
  }
  50% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(-730px);
  }
}
.card-of-project:nth-child(5),
.card-of-project:nth-child(6),
.card-of-project:nth-child(7),
.card-of-project:nth-child(8) {
  animation-name: running-linesLine-back;
}
@media only screen and (min-width: 768px) {
  .section-covers {
    height: 960px;
  }
  .covers-ul {
    top: 100px;
    width: 2200px;
  }
  .card-of-project {
    width: 544px;
    padding: 20px;
  }

  @keyframes running-linesLine {
    0% {
      transform: translateX(-100px);
    }
    50% {
      transform: translateX(-1370px);
    }
    100% {
      transform: translateX(-100px);
    }
  }
  @keyframes running-linesLine-back {
    0% {
      transform: translateX(-1350px);
    }
    50% {
      transform: translateX(-70px);
    }
    100% {
      transform: translateX(-1350px);
    }
  }
}
@media only screen and (min-width: 1440px) {
  .section-covers .container {
    background: radial-gradient(
        circle at 14.53% 55.56%,
        #ed3b4484,
        transparent 15%
      ),
      radial-gradient(circle at 75.7% 12.65%, #ed3b4484, transparent 15%),
      radial-gradient(circle at 30.86% 38.46%, #ed3b4484, transparent 15%),
      radial-gradient(circle at 64.22% 98.97%, #ed3b4484, transparent 15%);
  }

  .card-of-project {
    padding: 30px 20px;
  }
  .covers-ul {
    top: -50px;
  }
  @keyframes running-linesLine {
    0% {
      transform: translateX(40px);
    }
    50% {
      transform: translateX(-800px);
    }
    100% {
      transform: translateX(40px);
    }
  }
  @keyframes running-linesLine-back {
    0% {
      transform: translateX(-650px);
    }
    50% {
      transform: translateX(-70px);
    }
    100% {
      transform: translateX(-650px);
    }
  }
}
