.header-container {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 32px;
}

.header-img {
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin-right: 83px;
}
.header-logo {
  position: relative;
}
.header-logo::after {
  content: 'jefferson*';
  position: absolute;
  top: 0;
  left: 80px;
  height: 100%;
  padding-left: 8px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #ececec;
}

.standart-btn.header-btn {
  display: none;
}
.header-nav {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
.header-nav > .header-list {
  padding-top: 8px;
  opacity: 0;
  transform: translateY(-30px);
  pointer-events: none;
  list-style-type: none;
  transition: opacity 1000ms ease-out, transform 1000ms ease-out;
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-menu {
  display: none;
}
.header-list.dropdown-menu {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
  overflow: hidden;
  padding: 15px 25px;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.575);
  color: black;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
  backdrop-filter: blur(5px);
}
.icon-burger {
  display: block;
  width: 28px;
  height: 29px;
  stroke-width: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 374px) {
  .header {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }
  .header-menu-container {
    color: #fafafa;
  }
  .icon-burger {
    display: none;
  }

  .header-menu {
    display: block;
    font-family: var(--font-family);
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  .standart-btn.header-btn {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    width: 1440px;
  }

  .header-link:hover {
    text-decoration: underline;
  }
}
