.header {
  position: absolute;
  top: 32px;
  left: 50%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  width: 375px;
  padding-right: 16px;
  padding-left: 16px;
  transform: translateX(-50%);
}
body {
  color: #fafafa;
}
.header-img {
  overflow: hidden;
  width: 80px;
  height: 80px;
  border-radius: 18px;
}
.header-logo {
  position: relative;
}
.header-logo::after {
  content: 'jefferson*';
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  padding-left: 8px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
}

.header-list,
.header-menu,
.header-btn {
  display: none;
}

.icon-burger {
  display: block;
  width: 28px;
  height: 29px;
  stroke-width: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 374px) {
  .header {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }
  .icon-burger {
    display: none;
  }

  .header-menu {
    display: block;
    font-family: var(--font-family);
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

  .header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 163px;
    height: 55px;
    border-radius: 60px;
    background: #ed3b44;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    width: 1440px;
  }
}
