#openModal1Btn, #openModal2Btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


.close-btn {
    color: #FAFAFA;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
 

}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* --------------------modrl1------------------------ */

.element.style {
    display: none;
}

/* .modal-content{
    display: flex;
    gap: 160px;
} */
.modal-h2{
    color: #FAFAFA;
    font-family: Inter Tight;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: center;
margin-bottom: 16px;
   
   
}

.modal-p{
    color: #FAFAFA99;
font-family: Inter Tight;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.02em;
text-align: center;
}

.modal-close{
    color: #FAFAFA;
    width: 24px;
    height: 24px;
    text-align: center;
 margin-top: -44px;
 margin-bottom: 20px;

 float: right;
}


/*                                       фон модел                                            */
.modal-sexsion{
    display: none;
    position: fixed;
    bottom: 0;
 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.651);
    z-index: 999999;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .modal-sexsion { 
    text-align: center;
    Height:100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
 
} */



@media only screen and (max-width:767px) {
#openModalBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.modal-blok{
    margin: auto;
    background-color: #1C1D20;
    width: 343px;
    /* height: 276px; */
    top: 138px;
    left: 16px;
    padding: 64px 32px 64px 32px;
    gap: 64px;
    border-radius: 20px;
    border: 1px;
    opacity: 0px;
}

.modal-close-btn {

    color: #FAFAFA99;
    width: 11px;
    height: 11px;
    top: 5.5px;
    left: 5.5px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
}
@media only screen and (min-width: 768px) and (max-width:1139px) {
    
 

    .modal-blok{
        width: 492px;
        height:246px;
        top: 195px;
        left: 474px;
        padding: 64px;
        gap: 64px;
        border-radius: 20px;
        border: 1px;
        opacity: 0px;

        margin: auto;
        background-color: #1C1D20;
    }


}

@media screen and (min-width:1140px) {
 
    .modal-blok{
        width: 492px;
        height:246px;
        top: 195px;
        left: 474px;
        padding: 64px;
        gap: 64px;
        border-radius: 20px;
        border: 1px;
        opacity: 0px;

        margin: auto;
        background-color: #1C1D20;
    }
}

.svg-model{
    border-color: #000;
    border:1px;
 
}

/* -----------model2------------------------ */



.modal-heder{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-image: url(../img/modal/Glass_effect_1.png) ;
}
@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .modal-heder{
        background-image: url(../img/modal/Glass_effect_12x.png) ;
    }
}

.section-two {
    width: 100%;
    height: 100%;
   
    gap: 0px;
    /* opacity: 0px; */
    text-align: center;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9999999999;


    /* display: none; */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}



.header-modal-wraper{
    width: 67px;
height: 112px;

left: 154px;
gap: 12px;
opacity: 0px;
margin: auto;
margin-top: 302px;
margin-bottom: 289px;
/* text-align: center; */
/* align-items: center;
justify-content: center; */
}

.nav-link{
    text-decoration: underline;
}

.header-modal-titles{
    color: #FAFAFA;
    font-family: Inter Tight;
font-size: 16px;
font-weight: 500;
line-height: 19.36px;
letter-spacing: -0.02em;
position: relative;
}

.modal-close-model{
margin-top: 32px;
margin-right: 16px;

}
.header-modal-button{
    color: #FAFAFA;
    font-family: Inter Tight;
font-size: 14px;
font-weight: 500;
line-height: 16.94px;
letter-spacing: -0.02em;
}

/* 
.modal-button-project{

    width:164px;
height: 45px;
top: 703px;
left: 106px;

gap: 10px;
border-radius: 60px;
opacity: 0px;
margin-top: 289px;
} */



.modal-benefits-btn{
   
    display: block;
    max-width: 189px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 36px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    background-color: transparent;
    transition: background-color 250ms linear;
    background-color: #ED3B44;
    margin: auto;
}

.modal-benefits-btn:focus,
.modal-benefits-btn:hover{
    background-color:#e0373f;
}